[Unit]
Description=stockdb daemon
After=network.target postgresql.service

[Service]
ExecStart=/usr/bin/stockdb serve
ExecReload=/bin/kill -INT $MAINPID
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=5s
User=stockdb

[Install]
WantedBy=multi-user.target
